## Special environment parameters for TOSCA validation tests.

# The url under which the VNF SDK container is accessible through the host.
export HOST_URL="http://<docker host ip>:8702"

# Absolute path of the CSAR file in container 'refrepo'.
export CSAR_FILE="/opt/test.csar"

## Special environment parameters for Heat validation tests.

# The VNF archive should be zip file and put at $DOVETAIL_HOME/pre_config.
# Here should give the name without postfix .zip.
export VNF_ARCHIVE_NAME="vnf_archive_name"
