##############################################################################
# Copyright (c) 2019 opnfv.
#
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################

# This is an empty configuration file to be filled up with the desired options
# to generate a custom tempest.conf
# Examples:
# network-feature-enabled:
#     port_security: True

# volume-feature-enabled:
#     api_v1: False

# validation:
#     image_ssh_user: root
#     ssh_timeout: 300

# compute:
#     min_compute_nodes: 2
#     volume_device_name: vdb
