---
result_dir: /home/opnfv/dovetail/results
report_file: 'dovetail_report.txt'
cli_file_name: 'cmd_config.yml'
report_dest: 'file'

# OPENSTACK Credential file
openrc: '/home/opnfv/dovetail/openrc.sh'

repo:
  tag: tag_name
  path: https://github.com/opnfv/dovetail/tree/

COMPLIANCE_PATH: compliance/
TESTCASE_PATH: testcase/
# testsuite supported, should adjust accordingly
testsuite_supported:
  - compliance_set
  - proposed_tests
  - debug
# testarea supported, should adjust accordingly
testarea_supported:
  - defcore
  - example
  - ipv6
  - nfvi
  - vimops

functest_testsuite:
  - refstack_defcore
  - tempest_smoke_serial
  - tempest_full_parallel
  - rally_sanity
  - promise

functest_testcase:
  - healthcheck
  - vping_ssh
  - vping_userdata
  - doctor
  - copper
  - cloudify_ims

# used for testcase cmd template in jinja2 format
# we have two variables available now
# parameter path, use this path to walk through python object and get value
# and the python object is "testcase" object by hard-coded
parameters:
  - name: testcase
    path: '("name",)'
  - name: validate_testcase
    path: '("validate", "testcase")'

include_config:
  - functest_config.yml
  - yardstick_config.yml

test_project:
  - 'yardstick'
  - 'functest'

validate_input:
  valid_docker_tag:
    - 'stable'
    - 'latest'
    - 'danube.1.0'
    - 'danube.2.0'
    - 'danube.3.0'
