
work_dir: /home/opnfv/dovetail
result_dir: /home/opnfv/dovetail/results
report_file: 'dovetail_report.txt'
cli_file_name: 'cmd_config.yml'

# OPENSTACK Credential file
creds: '/home/opnfv/dovetail/openstack.creds'

version: '0.1'
repo:
  tag: tag_name
  path: https://github.com/opnfv/dovetail/tree/

COMPLIANCE_PATH: compliance/
TESTCASE_PATH: testcase/
# testsuite supported, should adjust accordingly
testsuite_supported:
  - compliance_set
  - proposed_tests
  - debug
# testarea supported, should adjust accordingly
testarea_supported:
  - vimops
  - nfvi
  - ipv6
  - example

# used for testcase cmd template in jinja2 format
# we have two variables available now
# parameter path, use this path to walk through python object and get value
# and the python object is "testcase" object by hard-coded
parameters:
  - name: testcase
    path: '("name",)'
  - name: validate_testcase
    path: '("validate", "testcase")'

include_config:
  - functest_config.yml
  - yardstick_config.yml

test_project:
  - 'yardstick'
  - 'functest'

validate_input:
  valid_sut_type:
    - 'compass'
    - 'fuel'
    - 'joid'
    - 'apex'

  valid_docker_tag:
    - 'stable'
    - 'latest'
