functest:
  image_name: opnfv/functest
  docker_tag: latest
  envs: '-e INSTALLER_TYPE=compass -e INSTALLER_IP=192.168.200.2
         -e NODE_NAME=dovetail-pod -e DEPLOY_SCENARIO=ha_nosdn
         -e BUILD_TAG=dovetail -e CI_DEBUG=true -e DEPLOY_TYPE=baremetal'
  opts: '-id --privileged=true'
  pre_condition:
    cmds:
      - 'echo test for precondition'
  testcase:
    pre_cmd: 'python /home/opnfv/repos/functest/ci/prepare_env.py start'
    exec_cmd: 'python /home/opnfv/repos/functest/ci/run_tests.py -t {{script_testcase}} -r'
    post_cmd: ''
    cmds:
      - 'python /home/opnfv/repos/functest/ci/prepare_env.py start'
      - 'python /home/opnfv/repos/functest/ci/run_tests.py -t {{script_testcase}} -r'
  post_condition:
    cmds:
      - ''
  result:
    dir: '/home/opnfv/functest/results'
    store_type: 'file'
    file_path: 'tempest/tempest.log'
    db_url: 'http://testresults.opnfv.org/test/api/v1/results?case=%s&last=1'
