---
functest:
  image_name: opnfv/functest
  docker_tag: latest
  opts: '-id --privileged=true'
  config:
    dir: '/home/opnfv/userconfig'
  pre_condition:
    - 'echo test for precondition in functest'
  cmds:
    - 'functest env prepare'
    - 'functest testcase run {{validate_testcase}} -r'
  post_condition:
    - 'echo test for postcondition in functest'
  result:
    dir: '/home/opnfv/functest/results'
    file_path: 'functest_results.txt'
  openrc: '/home/opnfv/functest/conf/openstack.creds'
