---
functest:
  image_name: opnfv/functest
  docker_tag: latest
  opts: '-id --privileged=true'
  pre_condition:
    - 'echo test for precondition in functest'
  cmds:
    - 'functest env prepare'
    - 'functest testcase run {{validate_testcase}} -r'
    - 'echo test for postcondition in functest'
  result:
    dir: '/home/opnfv/functest/results'
    store_type: 'file'
    file_path: 'dump.txt'
    tp_path: 'tempest/tempest.log'
  openrc: '/home/opnfv/functest/conf/openstack.creds'
