.nav>li>a {
    font-size: 18px;
}

table {
    font-size: 15px;
}

th {
    font-size: 16px;
}

.dropdown-menu {
    padding: 0px;
}

.dropdown-menu>li>a, .dropdown-menu>li>span {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    background-color: #1C1C1C;
    color: #ccc;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    font-size: 15px;
    color: #27CFC3;
    text-decoration: none;
    background-color: #1C1C1C;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    color: #fff;
    background-color: #27CFC3;
    border-color: #27CFC3;
}


.dropdown-menu {
    border: 0px solid #ccc;
}

.dropdown-menu>li>span>i {
    cursor: pointer;
}

.heading .logo {
    display: inline-block;
    padding-bottom: 30px;
}

.heading .slogan {
    display: inline-block;
    margin-left: 20px;
}

.badge-info {
    color: #fff;
    background-color: #27CFC3;
    border-color: #27CFC3;
}

.opnfv-blue {
    color: #27CFC3;
}

.field {
    margin-bottom: 10px;
}

table .btn.medium {
    padding: 0px 15px;
}

.cvp-btn {
    background-color: #27CFC3;
    font-weight: 700;
    font-size: 12px;
}

.common-main-container {
    padding-left: 5%;
    padding-right: 5%;
}

a { 
    cursor: pointer; 
}
