.header-container-1 {
    height: 80px;
    background-color: #383A35;
}

.header-container-row {
    margin-left: 0px;
    margin-right: 0px;
}

.header-container-2 {
    height: 30px;
    background-color: #383A35;
}

.header-logo {
    height: 80px;
    padding-left: 15px;
    padding-top: 20px;
}

.header-title {
    font-size: 35px;
    color: #fff;
    padding-top: 30px;
}

.header-login {
    margin-top: -20px;
    margin-right: 10px;
}

.header-splitline {
    height: 5px;
    background-color: #27CFC3;
}
