.home-container {
    padding-left: 0px;
    padding-right: 0px;
}

.home-category {
    border-right-style:solid;
    border-left-style:solid;
    padding-left: 0px;
    padding-right: 0px;
}

.home-content-title {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align:center;
}

.home-content {
    margin-top: 100px;
}

.home-content-text {
    text-align: justify;
    font-size: 22px;
}

.home-content-img {
    width: 80%;
}
