.home-container {
    padding-left: 0px;
    padding-right: 0px;
}

.home-category {
    border-right-style:solid;
    border-left-style:solid;
    padding-left: 0px;
    padding-right: 0px;
}

.home-content-title {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align:center;
}

.home-content {
    margin-top: 100px;
}

.home-content-text {
    text-align: justify;
    font-size: 22px;
}

.home-content-img {
    width: 80%;
}

#directory_inner th {
    font-size: 20px;
}

#directory_inner tbody {
    font-size: 18px;
}

#directory_inner tr {
    vertical-align: center;
}

#directory_inner {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

#directory_break {
    height: 1px;
    display: flex;
    border: 1px solid #ccc;
}

#directory_inner > thead > tr > th {
    border-bottom: 2px solid #ddd;
    padding: 8px;
}

#directory_inner > tbody > tr > td {
    border-bottom: 1px solid #ddd;
}
