---

{% set validate_testcase = validate_testcase or '' %}
{% set testcase = testcase or '' %}
{% set deploy_scenario = deploy_scenario or 'unknown' %}
{% set os_insecure = os_insecure or 'False' %}
{% set os_verify = '' %}
{% if os_insecure == 'True' %}
    {% set os_verify = '  - OS_VERIFY=' %}
{% endif %}
{% set dovetail_home = dovetail_home or '' %}
{% set debug = debug or 'false' %}
{% set build_tag = build_tag or '' %}
{% set cacert_volume = '' %}
{% if cacert %}
    {% set cacert_volume = '  - ' + cacert + ':' + cacert %}
{% endif %}
{% set openrc_file = '/home/opnfv/functest/conf/env_file' %}
{% set result_dir = '/home/opnfv/functest/results' %}
{% set userconfig_dir = '/home/opnfv/userconfig' %}
{% set patches_dir = '/home/opnfv/patches' %}
{% set images_dir = '/home/opnfv/functest/images' %}

functest:
  image_name: opnfv/functest-smoke
  docker_tag: gambia
  opts:
    detach: true
    stdin_open: true
    privileged: true
  shell: '/bin/bash'
  envs:
    {{os_verify}}
    - 'INSTALLER_TYPE=unknown'
    - 'DEPLOY_SCENARIO={{deploy_scenario}}'
    - 'NODE_NAME=unknown'
    - 'TEST_DB_URL=file://{{result_dir}}/functest_results.txt'
    - 'CI_DEBUG={{debug}}'
    - 'BUILD_TAG={{build_tag}}-{{testcase}}'
  volumes:
    - '{{dovetail_home}}/pre_config/env_config.sh:{{openrc_file}}'
    {{cacert_volume}}
    - '{{dovetail_home}}/pre_config:/home/opnfv/pre_config'
    - '{{dovetail_home}}/userconfig:{{userconfig_dir}}'
    - '{{dovetail_home}}/patches:{{patches_dir}}'
    - '{{dovetail_home}}/results:{{result_dir}}'
    - '{{dovetail_home}}/images:{{images_dir}}'
  patches_dir: {{patches_dir}}
  pre_condition:
    - 'echo test for precondition in functest'
  cmds:
    - 'run_tests -t {{validate_testcase}} -r'
  post_condition:
    - 'echo test for postcondition in functest'
  openrc: {{openrc_file}}
