---
functest:
  image_name: opnfv/functest-smoke
  docker_tag: opnfv-6.0.0
  opts: '-id --privileged=true'
  envs: '-e INSTALLER_TYPE=unknown -e DEPLOY_SCENARIO=unknown -e NODE_NAME=unknown
         -e TEST_DB_URL=file:///home/opnfv/functest/results/functest_results.txt'
  config:
    dir: '/home/opnfv/userconfig'
    images: '/home/opnfv/functest/images'
  pre_condition:
    - 'cp /home/opnfv/userconfig/pre_config/testcases.yaml /usr/lib/python2.7/site-packages/xtesting/ci/testcases.yaml'
  cmds:
    - 'run_tests -t {{validate_testcase}} -r'
  post_condition:
    - 'echo test for postcondition in functest'
  result:
    dir: '/home/opnfv/functest/results'
    file_path: 'functest_results.txt'
  openrc: '/home/opnfv/functest/conf/env_file'
