---

{% set validate_testcase = validate_testcase or '' %}
{% set deploy_scenario = deploy_scenario or 'unknown' %}
{% set os_insecure = os_insecure or 'False' %}
{% set os_verify = '' %}
{% if os_insecure == 'True' %}
    {% set os_verify = ' -e OS_VERIFY= ' %}
{% endif %}

functest:
  image_name: opnfv/functest-smoke
  docker_tag: latest
  opts: '-id --privileged=true'
  envs: '{{os_verify}} -e INSTALLER_TYPE=unknown -e DEPLOY_SCENARIO={{deploy_scenario}} -e NODE_NAME=unknown
         -e TEST_DB_URL=file:///home/opnfv/functest/results/functest_results.txt'
  config:
    dir: '/home/opnfv/userconfig'
    images: '/home/opnfv/functest/images'
  pre_condition:
    - 'cp /home/opnfv/userconfig/pre_config/testcases.yaml /usr/lib/python2.7/site-packages/xtesting/ci/testcases.yaml'
  cmds:
    - 'run_tests -t {{validate_testcase}} -r'
  post_condition:
    - 'echo test for postcondition in functest'
  result:
    dir: '/home/opnfv/functest/results'
  openrc: '/home/opnfv/functest/conf/env_file'
